    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Chef</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Chef</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <a routerLink="/services" class="btn btn-primary btn-block mb-3">Back to Inbox</a>
  
           
              <!-- /.card -->
              
              <!-- /.card -->
            </div>
            <!-- /.col -->
          <div class="col-md-9">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">know More</h3>
  
                <div class="card-tools">
                  <a routerLink="/services" class="btn btn-tool" title="Previous" ><i class="fas fa-chevron-left"></i></a>
                  <a routerLink="/appointment" class="btn btn-tool" title="Next"><i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="mailbox-read-info">
                  <h5>Subscribe with us ConsultvirtuMarket</h5>
                  <h6>From:ConsultVirtuMarekt@gmail.com
                    <span class="mailbox-read-time float-right">15 Feb. 2015 11:03 PM</span></h6>
                </div>
                <!-- /.mailbox-read-info -->
                <div class="mailbox-controls with-border text-center">
                  <div class="btn-group">  
                    <button type="button" class="btn btn-default btn-sm" data-container="body" title="Reply"(click)="gotoservices()">
                      <i class="fas fa-reply"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-container="body" title="Forward" (click)="gotoappointement()">
                      <i class="fas fa-share"></i>
                    </button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.mailbox-controls -->
                <div class="mailbox-read-message">
                <p>
                    Chefs provide culinary expertise and leadership in the creation and execution of food-related experiences. They are skilled professionals who oversee kitchen operations, including menu planning, ingredient selection, food preparation, and presentation.
                    Chefs possess a deep understanding of flavor profiles, cooking techniques, and food safety standards, allowing them to craft delicious and visually appealing dishes that delight the senses.
                    Their services extend beyond simply cooking; they also manage kitchen staff, coordinate with suppliers, and ensure quality control to uphold the standards of the establishment.
                    One of the key strengths of this specialty lies in its ability to blend creativity with technical proficiency, resulting in unforgettable dining experiences for guests.
                    Through their passion for food and commitment to excellence, chefs elevate the culinary landscape, enriching communities and fostering a culture of appreciation for gastronomy.</p>
                 <p>To benefit from the services</p>
                 <p>Subscribe with us ConsultvirtuMarket</p>
                  <p>Thanks,<br></p>
                </div>
                <!-- /.mailbox-read-message -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer bg-white">
               
                <div class="mailbox-controls with-border text-center">
                  <iframe width="560" height="315" src="../assets/dist/img/video6.mp4" frameborder="0" allowfullscreen ></iframe>
                </div> 
                
              </div>
              <!-- /.card-footer -->
              <div class="card-footer">
                <div class="float-right">
                  <button type="button" class="btn btn-default"><i class="fas fa-reply" (click)="gotoservices()"></i> Reply</button>
                  <button type="button" class="btn btn-default"><i class="fas fa-share" (click)="gotoappointement()"></i> Forward</button>
                </div>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
  
