<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
  <div class="p-3">
      <h5>MENU</h5>
      <ul class="sidebar-menu">
          <!-- Profile button -->
          <li>
              <a [routerLink]="['/dashboard']" class="nav-link">
                  <i class="fas fa-user"></i> My Profile
              </a>
          </li>
         
          <!-- Logout button -->
          <li>
              <a [routerLink]="['/login']" class="nav-link">
                  <i class="fas fa-sign-out-alt"></i> Logout
              </a>
          </li>
      </ul>
  </div>
</aside>


