
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <img class="img-fluid rounded" src="../assets/dist/img/img3.jpg" alt="">
                    <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="https://media.istockphoto.com/id/1360521208/photo/businessman-using-a-computer-for-analysis-seo-search-engine-optimization-marketing-ranking.jpg?s=1024x1024&w=is&k=20&c=IhQ6raZeQvoXtXPgHOMMXWD4B70hOefvNo2d2M2kXKw=" alt="" width="300"style="margin-top: -25%;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="d-inline-block border rounded-pill py-1 px-4">About Us</p>
                <h1 class="mb-4">Why You Should Trust Us? Get Know About Us!</h1>
                <p>An online consultation service marketplace for experts offering services to clients presents numerous advantages, both for the experts and the clients. Here are some of the key benefits:</p>
                <p class="mb-4">Increased accessibility: Clients can access a variety of experts and services from anywhere, anytime, as long as they have an internet connection, thereby expanding their choices and opportunities to find the right expert to meet their needs.</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>Quality Services</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>Enhanced Accessibility</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>Wide Range of Experts</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->