
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Marketing Designer</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Marketing Designer</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <a routerLink="/services" class="btn btn-primary btn-block mb-3">Back to Inbox</a>
  
           
              <!-- /.card -->
              
              <!-- /.card -->
            </div>
            <!-- /.col -->
          <div class="col-md-9">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">know More</h3>
  
                <div class="card-tools">
                  <a routerLink="/services" class="btn btn-tool" title="Previous" ><i class="fas fa-chevron-left"></i></a>
                  <a routerLink="/appointment" class="btn btn-tool" title="Next"><i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="mailbox-read-info">
                  <h5>Subscribe with us ConsultvirtuMarket</h5>
                  <h6>From:ConsultVirtuMarekt@gmail.com
                    <span class="mailbox-read-time float-right">15 Feb. 2015 11:03 PM</span></h6>
                </div>
                <!-- /.mailbox-read-info -->
                <div class="mailbox-controls with-border text-center">
                  <div class="btn-group">  
                    <button type="button" class="btn btn-default btn-sm" data-container="body" title="Reply"(click)="gotoservices()">
                      <i class="fas fa-reply"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-container="body" title="Forward" (click)="gotorendezvous()">
                      <i class="fas fa-share"></i>
                    </button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.mailbox-controls -->
                <div class="mailbox-read-message">
                <p>
                    Marketing designers specialize in creating visual content and materials to support marketing campaigns and initiatives. They combine elements of graphic design, branding, and digital media to develop compelling assets that effectively communicate the brand message and resonate with the target audience.
                    Marketing designers collaborate closely with marketing teams to understand campaign objectives, target demographics, and brand identity, translating these insights into visually engaging designs for various channels such as social media, email campaigns, websites, and advertisements.
                    Their services encompass a wide range of deliverables, including logos, infographics, web graphics, and promotional materials. One of the key strengths of this specialty lies in its ability to capture attention, evoke emotions, and drive engagement through visually appealing content.
                    Marketing designers leverage their creativity and design expertise to enhance brand visibility, attract customers, and ultimately drive conversions, contributing to the success and growth of businesses and organizations.</p>
                 <p>To benefit from the services</p>
                 <p>Subscribe with us ConsultvirtuMarket</p>
                  <p>Thanks,<br></p>
                </div>
                <!-- /.mailbox-read-message -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer bg-white">
               
                <div class="mailbox-controls with-border text-center">
                  <iframe width="560" height="315" src="../assets/dist/img/video4.mp4" frameborder="0" allowfullscreen ></iframe>
                </div> 
                
              </div>
              <!-- /.card-footer -->
              <div class="card-footer">
                <div class="float-right">
                  <button type="button" class="btn btn-default"><i class="fas fa-reply" (click)="gotoservices()"></i> Reply</button>
                  <button type="button" class="btn btn-default"><i class="fas fa-share" (click)="gotorendezvous()"></i> Forward</button>
                </div>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
  
