
<section class="Testimonial">
    <owl-carousel-o [options]="testimonialslider">
        <ng-template carouselSlide>
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4 ">Testimonial</p>
                <h1>What Say Our Clients!</h1>
                <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4 bg-blue" src="../assets/admin/img/testimonial-1.jpg" style="width: 100px; height: 100px;">
                <div class="testimonial-text rounded text-center p-4 bg-blue">
                    <p class="text-white">My experience with the virtual consultation services marketplace has been exceptional.
                        I was impressed by how easily I could find an expert who exactly matched my needs.</p>
                    <h5 class="mb-1 text-white">Client Name</h5>
                    <span class="fst-italic text-white">Profession</span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4 bg-blue" src="../assets/admin/img/testimonial-2.jpg" style="width: 100px; height: 100px;">
                <div class="testimonial-text rounded text-center p-4 bg-blue">
                    <p>The platform offers a diverse range of highly qualified experts in various fields, allowing me to choose the one that best suited my expectations.
                        Booking the consultation was simple and quick, and I appreciated the flexibility of the offered schedules. </p>
                        <h5 class="mb-1 text-white">Client Name</h5>
                        <span class="fst-italic text-white">Profession</span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4 bg-blue" src="../assets/admin/img/testimonial-3.jpg" style="width: 100px; height: 100px;">
                <div class="testimonial-text rounded text-center p-4 bg-blue">
                    <p>The consultation itself exceeded my expectations: the expert was professional, knowledgeable, and attentive, and their advice was extremely helpful in addressing my issues. I highly recommend this service to anyone seeking high-quality expert advice in a convenient and accessible format..</p>
                    <h5 class="mb-1 text-white">Client Name</h5>
                    <span class="fst-italic text-white">Profession</span>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</section>

<!-- Testimonial End -->
    