    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Accountant</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Accountant</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <a routerLink="/services" class="btn btn-primary btn-block mb-3">Back to Inbox</a>
  
           
              <!-- /.card -->
              
              <!-- /.card -->
            </div>
            <!-- /.col -->
          <div class="col-md-9">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">know More</h3>
  
                <div class="card-tools">
                  <a routerLink="/services" class="btn btn-tool" title="Previous" ><i class="fas fa-chevron-left"></i></a>
                  <a routerLink="/appointment" class="btn btn-tool" title="Next"><i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="mailbox-read-info">
                  <h5>Subscribe with us ConsultvirtuMarket</h5>
                  <h6>From:ConsultVirtuMarekt@gmail.com
                    <span class="mailbox-read-time float-right">15 Feb. 2015 11:03 PM</span></h6>
                </div>
                <!-- /.mailbox-read-info -->
                <div class="mailbox-controls with-border text-center">
                  <div class="btn-group">  
                    <button type="button" class="btn btn-default btn-sm" data-container="body" title="Reply"(click)="gotoservices()">
                      <i class="fas fa-reply"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-container="body" title="Forward" (click)="gotoappointement()">
                      <i class="fas fa-share"></i>
                    </button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.mailbox-controls -->
                <div class="mailbox-read-message">
                <p>
                    Accountants provide essential financial services to individuals, businesses, and organizations.
                    They are responsible for managing financial records, preparing financial statements, and ensuring compliance with tax regulations and accounting standards.
                    Accountants offer valuable insights into financial performance, helping clients make informed decisions to optimize profitability and mitigate risks.
                    Their services encompass a wide range of tasks, including bookkeeping, budgeting, auditing, and financial analysis.
                    One of the key strengths of this specialty lies in its ability to provide accurate and reliable financial information that serves as the foundation for strategic planning and business growth.
                    Through their expertise in financial management and reporting, accountants play a crucial role in promoting transparency, accountability, and financial stability across various sectors. 
                 Their work spans various industries, from finance and healthcare to entertainment and e-commerce, driving innovation and shaping the digital future.</p>
                 <p>To benefit from the services</p>
                 <p>Subscribe with us ConsultvirtuMarket</p>
                  <p>Thanks,<br></p>
                </div>
                <!-- /.mailbox-read-message -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer bg-white">
               
                <div class="mailbox-controls with-border text-center">
                  <iframe width="560" height="315" src="../assets/dist/img/video3.mp4" frameborder="0" allowfullscreen ></iframe>
                </div> 
                
              </div>
              <!-- /.card-footer -->
              <div class="card-footer">
                <div class="float-right">
                  <button type="button" class="btn btn-default"><i class="fas fa-reply" (click)="gotoservices()"></i> Reply</button>
                  <button type="button" class="btn btn-default"><i class="fas fa-share" (click)="gotoappointement()"></i> Forward</button>
                </div>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
  
