
 <!-- Service Start -->
 <div class="container-xxl py-5">
    <div class="container">
        
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block border rounded-pill py-1 px-4">Services</p>
            <h1>Customized Solutions: Experts at Your Service"</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-laptop-code" style="color: #0c79ed;"></i>
                     </div>
                    <h4 class="mb-3">Software Engineer</h4>
                    <p class="mb-4">The Software Engineer designs and develops innovative software solutions, turning ideas into digital reality through technical expertise and creativity.."</p>
                    <a class="btn" routerLink="/read" ><i class="fa fa-plus text-primary me-3"></i>Know More </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fa fa-x-ray text-primary fs-4" style="color: #0c79ed;"></i>
                    </div>
                    <h4 class="mb-3">Interior Designer</h4>
                    <p class="mb-4">The Interior Designer crafts inspiring and functional spaces by harmonizing aesthetics, comfort, and functionality, capturing each client's unique vision.</p>
                    <a class="btn" routerLink="/knowinteriordesigner"><i class="fa fa-plus text-primary me-3"></i>Know More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-hand-holding-usd fa-lg" style="color: #0c79ed;"></i>                     </div>
                    <h4 class="mb-3">Accountant</h4>
                    <p class="mb-4">The Accountant ensures financial accuracy and compliance by meticulously managing and analyzing financial data, providing crucial insights for informed decision-making.</p>
                    <a class="btn" routerLink="/knowaccountant"><i class="fa fa-plus text-primary me-3"></i>Know More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-shopping-cart fa-spin fa-lg" style="color: #0c79ed;"></i>                    </div>
                    <h4 class="mb-3">Marketing Designer</h4>
                    <p class="mb-4">Marketing designers craft visual narratives that captivate audiences and drive brand engagement.</p>
                    <a class="btn" routerLink="/knowmarketingdesigner"><i class="fa fa-plus text-primary me-3"></i>Know More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-tooth fa-lg" style="color: #0c79ed;"></i>
                    </div>
                    <h4 class="mb-3">Dental Surgery</h4>
                    <p class="mb-4">Dental surgery involves various procedures aimed at diagnosing, treating, and preventing oral health issues, ensuring patients maintain healthy teeth.</p>
                    <a class="btn" routerLink="/knowdentalsurgery"><i class="fa fa-plus text-primary me-3"></i>Know More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-hamburger fa-lg" style="color: #0c79ed;"></i>
                    </div>
                    <h4 class="mb-3">Chef</h4>
                    <p class="mb-4">A chef orchestrates culinary masterpieces, leading kitchen teams with creativity and precision to deliver exceptional dining experiences.</p>
                    <a class="btn" routerLink="/chef"><i class="fa fa-plus text-primary me-3"></i>Know More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

